<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
/>
<link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css" />
<link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css" />

<div
  style="
    width: 100%;
    color: black;
    padding: 30px 0;
    font-family: Arial;
    text-align: center;
    background-color: #d7ccc8;
  "
>
  <!-- Footer -->
  <footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2023 Mooxer Games, Inc. All rights reserved:
      <a href="/"> MooxerGames.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>

<script
  type="text/javascript"
  src="node_modules/mdbootstrap/js/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="node_modules/mdbootstrap/js/popper.min.js"
></script>
<script
  type="text/javascript"
  src="node_modules/mdbootstrap/js/bootstrap.min.js"
></script>
<script
  type="text/javascript"
  src="node_modules/mdbootstrap/js/mdb.min.js"
></script>
